<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>
  
  <connectionStrings>
    <add name="ContactContext" connectionString="data source=DESKTOP-S0RK0QG\SQLEXPRESS01;initial catalog=Contact;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
